body {
  font-family: "Clear Sans", sans-serif;
}

.pref-value-list {
  margin: 0 10px 20px 10px;
  font-size: 100%;
}

.current-value {
  font-weight: bold;
}

.settings-button {
  width: 100%;
}

.warn {
  font-weight: bold;
}
