body {
  font-family: "Clear Sans", sans-serif;
}

.pref-label {
  font-weight: bold;
}

.pref-value {
  font-weight: bold;
  margin-top: 5px;
  display: flex;
}

.pref-value > div {
  flex: 1;
}

.pref-value > button {
  -moz-margin-start: 5px;
}

.theme-preview {
  height: 64px;
  width: 100%;
  background: none no-repeat scroll right top transparent;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
