body {
  font-family: "Clear Sans", sans-serif;
}

.pref-label {
  font-weight: bold;
}

.pref-value {
  font-weight: bold;
  margin-top: 5px;
  display: flex;
}

.pref-value > div {
  flex: 1;
}

.pref-value > button {
  -moz-margin-start: 5px;
}

.search-message {
  font-weight: bold;
}